<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>rango say..</h1>
        <h2>rango say..</h2>
        <h3>rango say..</h4>
        <h1>rango say..</h1>
        <div>
            hey there partner<br/>
            <strong>{{boldmessage}}</strong>
        </div>
        <div>
            <a href="/rango/about/">about</a><br/>
            <img scr = "{%static "
        </div>
    </body>
        
        
        
        
</html>