
{%load staticfiles%}

<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>rango say..</h1>
        <h2>rango say..</h2>
        <h3>rango say..</h4>
        <h1>rango say..</h1>
        <div>
            hey there partner<br/>
            <strong>{{boldmessage}}</strong>
        </div>
        <div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                <li>{{category.name}}</li>
                {% endfor %}
            </ul>
            {% else %}
                <strong> there are no categories.</strong>
            {% endif %}
        </div>
        <div>
            <a href="/rango/about"About></a><br />
            <img src="{st"
            alt="picture of python"/>
        </div>
        
    </body>
        
        
        
        
</html>